@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Press+Start+2P&display=swap');
.txtretro{
    font-family: "Press Start 2P", system-ui;
}

html{
    background-image: url(../img/background-retro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
}

h2{
    margin-top: 50px;
    text-align: center;
}

p{
    text-align: center;
}

.container{
    margin: 30px;
    border-style: dotted;
    padding: 25px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}